
/*英語font*/
@font-face { 
	font-family: 'MyFont';
	src: url(./font/Parisish.ttf);
}
/*日本語font*/
@font-face {
	font-family: 'MyFont2';
	src: url(./font/uzura.ttf);
}

body{
	margin: 0;
	background: black;
	/*font-family: sans-serif;*/
	font-family: MyFont, MyFont2;
	font-weight: normal;
	font-size: 1.1em;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*overflow: hidden;*/
	position: absolute;
	background: black;
	color: white;


}
div{
	display: inline-block;
}
/*----------------------------------*/
/*side bar*/
#sideMenu{
	display: block;
	width: 100%;
	top: 0;
	position: absolute;
	z-index: 1500;
}
.side-bar{
	width: 16%;
	height: 100%;
	background: rgba(50, 50, 50, .8);
	/*background: rgba(255, 255, 255, .2);*/
	top: 0;
	/*position: absolute;*/
	position: fixed;
	/*z-index: 1000;*/
}
.side-bar img{
	/*opacity: .85;*/
	width:95%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	/*margin-top: -35px;*/
}
.contents{
	width: 100%;
	text-align: center;
	margin-top: 40%;
}
.menu{
	width:100%;
}

.menu:hover{
	width: 100%;
	background: gray;
}

.contents a{
	opacity: 1.0;
	color: white;
	text-decoration: none;
	font-size: 20px;
	line-height: 50px;
}

/*----------------------------------*/
/*main contents*/
.main{
	width: 84%;
	/*height: 100%;*/
	/*background: red;*/
	float: right;
	/*position: relative;*/
	margin-right: 0;
	padding-top: 100px;
}
.main h2{

}

#footer{
	background: rgba(0, 0, 0, .75);
	/*background: red;*/
	width: 97%;
	/*height: 10%;*/
	margin-left: 0;
	padding: 15px;
	color: white;
	font-size: 15px;
	line-height: 10px;
	margin-top: 80px;
}

#footer a{
	text-decoration: none;
	color: white;
}

#footer a:hover{
	color: rgb(255, 100, 170);
}

.article{
	/*background: red;*/
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	/*padding: 10%;*/
}

/*----------------------------------*/
/*work*/
.work h4{
	color: white;
	font-weight: normal;
	font-size: 1.0em;
	margin: 15px 50px;
}
.list{
	width: 100%;
	padding-top: 2%;
}
.vList{
	width: 49.5%;
	/*background: red;*/
	margin: 50px 0 50px 0;
}
.work video{
	width: 83%;
	display: block;
	margin: auto auto;
}
#work_background video{
	width: 84%;
	max-height: 100%;
	/*height: 100%;*/
	right: 0;
	top: 6%;
	z-index: -10;
	position: fixed;
	display: block;
	margin: auto auto;
	padding: auto;
}

figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-left: 0;	
}
figcaption {
	position: absolute;
	top: -80%;
	left: 	8.5%;
	z-index: 2;
	width: 76.65%; 
	height: 75%;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	padding: 15px;
	padding-top: 0;
}
figure:hover figcaption {
	top: 0;
}

figcaption h3, figcaption p{
	color: rgba(255, 255, 255, .75);	
}

figcaption p{
	font-size: 0.95em;	
}
/*----------------------------------*/
/*activity*/
.activity{
	color: white;
}
.activity .lList{
	width: 100%;
}
.activity ul{
	list-style-type: none;
}

.activity li{
	color: white;
	line-height: 2.6em;
	border-top: 1px solid #ffffff;
	padding-left: 20px;
	font-size: 1.1em;

}
.activity li:hover{
	background: rgba(100, 100, 100, .75);
}
.activity h2{
	color: white;
}
.activity a{
	/*text-decoration: none;*/
	color: white;
}
.activity h4{
	font-size: 1.1em;
}
.activity h3{
	/*color: rgb(0, 161, 233);*/
	margin-top: 100px;
}
.activity img{
	height: 150px;
}


/*----------------------------------*/
/*profile*/
.background img{
	/*height: 100%;*/
	width: 100%;
	max-height: 100%;
	display: block;
	position: absolute;
	top: 0;
	z-index: -1000;
	position: fixed;
}
#pro{
	width: 65%;
	margin-left: 30px;
	font-size: 1.1em;
	/*background: red;*/
}
.profile #table{
	width: 85%;
	border-bottom: 1.5px solid #ffffff;
}
.profile .article #table_th{
	width: 30%;
	padding-left: 10px;
	/*height: 100px;*/
	/*background: red;*/
}
.profile .article #table_td{
	/*background: blue;*/
}
.profile .article #table_th, .profile .article #table_td{
	line-height: 2.3em;
}
.profile #table a{
	color: white;
	text-decoration: none;
}
.profile #table a:hover{
	text-decoration: underline;
}
/*----------------------------------*/
/*photo collection*/

.photocollection .article{
	color: white;
}
.photocollection .article h4{
	margin-top: 80px;
}
.photocollection .article img{
	width: 27%;
	margin-right: 50px;
	margin-top: 30px;
	transition: 0.4s;
	-webkit-transition: 0.4s ;
	-moz-transition: 0.4s ;

}
.photocollection .article img:hover{
	opacity: .6;
}
#back{
	margin-top: -100px;
	height: 100%;
	width: 100%;
	
}
#back video{
	width: 100%;
	display: block;
	position: relative;
	margin: auto;
}
/*----------------------------------*/
/*アコーディオン*/
label {
	color: white;
	/*width: 300%;*/
	/*width: 10px;*/
	/*height: 100%;	*/
	/*background: green;*/
	/*color: #fff;*/
	/*padding: 10px;*/
	/*display: block;*/
/*    margin: 0;
    border: 1px solid #fff;
    */
}
.lbox{
	width: 100%;
	height: 100%;
	/*background: red;*/
	/*height: 100%*/
}

input[type="checkbox"].on-off{
	display: none;
}

.menu_ ul {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu_ li {
	padding: 5px;

}

input[type="checkbox"].on-off + ul{
	/*height: 0;*/
	width: 0;
	overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
	/*height: 200px;*/
	width: 100px;
}
.menu_ {
	background: rgba(100, 100, 100, .75);
}
.menu_ label img{
	width: 25px;
	height: 25px;
	position: relative;
	display: block;
	margin-right: 5px;
	padding-bottom: 30px;
}

/*----------------------------------*/
/*topページのシーン設定*/
#particles {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
}
#scene1, #scene2, #scene3 #outer{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
}
div#info,div#debug{
	position:absolute;
	top:20px;
	left:5px;
	color:#FFFFFF;
}

span.notification {
	position:absolute;
	top:5px;
	left:5px;
	color:#FFFFFF;
}
#scene3 canvas, #scene1, #scene0 #outer, #scene4, #scene5 canvas{
	background: rgba(0, 0, 0, 1.);
}

/*----------------------------------*/
/*ページtopへ戻るボタン*/
.content
{
	min-height: 5000px ;
}


.page-top
{
	display: none ;
	margin: 0 ;
	padding: 0 ;
}

.page-top p
{
	margin: 0 ;
	padding: 0 ;

	position: fixed ;
	right: 16px ;
	bottom: 30px ;
	z-index: 100;
}

.move-page-top
{
	display: block ;
	background: rgba(50, 50, 50, .75);
	width: 150px ;
	height: 50px ;
	cursor: pointer ;

	color: white;
	line-height: 50px ;
	text-decoration: none ;
	text-align: center ;
	font-weight: bold;

	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}


@media screen and ( min-width:1130px )
{
	.move-page-top:hover
	{
		opacity: 0.85 ;
	}
}

