body{
	width: 100%;
	height: 100%;
	top: 0;
	margin:0;
	padding:0;
	overflow: hidden;
	position: absolute;
	background: black;
}
#particles {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
}
#scene1, #scene2, #scene3{
/*	width: 100%;
	height: 100%;
	overflow: hidden;
	background: black;
*/}
div#info,div#debug{
	position:absolute;
	top:20px;
	left:5px;
	color:#FFFFFF;
}

span.notification {
	position:absolute;
	top:5px;
	left:5px;
	color:#FFFFFF;
}
#scene3 canvas, #scene1{
	background: black;
}
